* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
}

body {
  background-color: #0f1624;
  color: #e0e0e0;
}

main {
  display: flex;
}

hr.sep {
  margin: 10px 20px;
  border: 1px solid #161b2b;
}

.nav {
  position: sticky;
  width: 200px;
  height: 100vh;
  transition: 0.4s;
}
.nav hr {
  margin: 10px 20px;
}
.nav .website {
  display: flex;
  margin: 20px 10px;
}
.nav .website .logo {
  border-radius: 12px;
  text-align: center;
}
.nav .website .logo img {
  margin: 2px;
  width: 35px;
}
.nav .website .information {
  margin-left: 10px;
  flex: 1;
}
.nav .website .information .subtitle {
  color: #ddd;
  font-size: 12px;
  margin: 0;
}
.nav .website .information .title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}
.nav .website .listbtn {
  position: relative;
  margin: 10px;
}
.nav .website .listbtn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px;
  background-color: #161b2b;
  border-radius: 0.4rem;
}
.nav .website .listbtn i:hover {
  cursor: pointer;
  background-color: #1a2133;
}
.nav nav {
  margin: 10px;
}
.nav nav ul {
  list-style: none;
  padding-left: 0;
}
.nav nav ul a {
  text-decoration: none;
}
.nav nav ul li {
  padding: 7px 5px;
  color: #e0e0e0;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  transition: 0.4s;
  border-radius: 0.4rem;
  margin: 10px 0;
}
.nav nav ul li.admin p.admin {
  font-size: 10px;
  background-color: #2877ed;
  padding: 2px;
  margin-left: auto;
}
.nav nav ul li i {
  margin-right: 10px;
}
.nav nav ul li:hover {
  cursor: pointer;
  background-color: #1a2133;
  color: #ddd;
  padding: 7px 10px;
}
.nav nav ul li.active {
  background-color: #1a2133;
  color: #ddd;
  padding: 7px 10px;
  color: #2877ed;
}
.nav .account {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.nav .account a {
  text-decoration: none;
  color: #ddd;
}
.nav .account__in {
  background: #1a2133;
  margin: 10px;
  border-radius: 0.7rem;
  overflow: hidden;
}
.nav .account__in .filter {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: #1a2133;
  padding: 5px 0px;
}
.nav .account__container {
  display: flex;
  margin: 10px;
  align-items: center;
}
.nav .account__container .img {
  width: 40px;
  max-height: 60px;
  margin-right: 10px;
  border-radius: 0.3rem;
  overflow: hidden;
}
.nav .account__container .name {
  margin: 0;
}
.nav .account__container .name .username {
  font-size: 1em;
  font-weight: 500;
}
.nav .account__container .name .role {
  font-size: 14px;
}
.nav .account__buttons {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: space-around;
}
.nav.lightNav {
  width: 80px;
}
.nav.lightNav .information,
.nav.lightNav .title,
.nav.lightNav ul li p,
.nav.lightNav .username,
.nav.lightNav .role,
.nav.lightNav .settings,
.nav.lightNav .version {
  display: none;
}
.nav.lightNav .account__container {
  display: block;
  margin: 10px;
  align-items: center;
}
.nav.lightNav ul li {
  padding: 5px;
  color: #e0e0e0;
  font-size: 1.5em;
  display: block;
  align-items: unset;
  transition: 0.4s;
  border-radius: 0.4rem;
  margin: 10px 0;
  text-align: center;
}
.nav.lightNav ul li:hover {
  cursor: pointer;
  background-color: #1a2133;
  color: #ddd;
  padding: 5px;
}
.nav.lightNav ul li.active {
  background-color: #1a2133;
  color: #ddd;
  padding: 5px;
  color: #2877ed;
}
.nav.lightNav ul li i {
  margin: 0;
}
.nav.lightNav .website {
  position: relative;
  height: 20px;
}
.nav.lightNav .website .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.nav.lightNav .listbtn {
  display: none;
}

.content {
  flex: 1;
  height: 100vh;
  overflow: hidden;
  border-radius: 12px;
}
.content .sub_content {
  margin: 10px;
  background-color: #1a2133;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 12px;
  overflow-x: hidden;
  overflow-y: auto;
}
.content .sub_content .content_padding {
  padding: 10px;
}
.content .banner {
  width: 100%;
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content .banner .filter {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(38, 34, 46, 0.849) 0%, rgba(27, 40, 56, 0) 70%);
}
.content .banner .filter .message {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  font-size: 1.6em;
}
.content .banner .filter .message a {
  color: #2877ed;
  text-decoration: none;
}

.topContent {
  display: flex;
}
.topContent .playlist {
  width: 450px;
}
.topContent .calendar {
  flex: 1;
}

.loadingMsg {
  text-align: center;
  color: #2877ed;
}

.appList ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.appList ul a {
  flex: 1;
  -webkit-flex: 130px 1;
}
.appList ul li {
  position: relative;
  min-width: 240px;
  height: 140px;
  padding: 10px;
  border-radius: 0.73rem;
  background-color: #0f1624;
  margin: 10px;
  transition: 0.2s;
  color: #e0e0e0;
}
.appList ul li:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2941176471);
  transform: scale(1.01);
}
.appList ul li > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.appList ul li > div p {
  text-align: center;
  font-size: 24px;
}
.appList ul li > div img {
  height: 80px;
}

#navPhone {
  display: none;
}

.ide {
  display: flex;
  height: 100%;
}
.ide .left {
  min-width: 250px;
  position: relative;
}
.ide .left .top {
  text-align: right;
  margin: 10px 10px 10px 0;
}
.ide .left .top button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  color: #2877ed;
  font-size: 1.5em;
  width: 26px;
  border-radius: 0.75rem;
}
.ide .left ul {
  padding-left: 0;
  list-style: none;
}
.ide .left ul a {
  color: #ddd;
  text-decoration: none;
}
.ide .left ul li {
  margin: 5px;
  padding: 7px 10px;
  font-size: 18px;
  border-radius: 0.4rem;
  transition: 0.2s;
}
.ide .left ul li i {
  margin: 0 6px 0 0;
}
.ide .left ul li:hover {
  background-color: #161b2b;
}
.ide .left ul ul {
  margin-left: 10px;
}
.ide .right {
  flex: 1;
  background-color: #0f1624;
}
.ide .right form {
  height: 100%;
}
.ide .right form input[type=text] {
  width: 100%;
  border: none;
  background: none;
  color: #e0e0e0;
  font-size: 20px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.0352941176);
  padding: 6px 10px;
}
.ide .right form button {
  position: absolute;
  top: 7px;
  right: 20px;
  cursor: pointer;
  background: none;
  outline: none;
  font-size: 2em;
  color: #2877ed;
  border: none;
}
.ide .right form textarea {
  width: 100%;
  height: calc(100vh - 59px);
  resize: none;
  border: none;
  background: none;
  color: #e0e0e0;
  font-size: 18px;
  outline: none;
  padding: 6px 10px;
}
.ide .right pre, .ide .right .markdown {
  padding: 20px;
  max-height: 100%;
  overflow-y: auto;
  width: 100%;
}

@media screen and (max-width: 899px) {
  .nav {
    width: 200px;
    transform: translateX(-100%);
    display: none;
    transition: width 0.4s ease, transform 0.4s ease;
  }
  .nav.active {
    transition-delay: 1s;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translate(0);
    background-color: #0f1624;
    animation: 0.4s spawnNav forwards;
    z-index: 999;
  }
  @keyframes spawnNav {
    0% {
      width: 20px;
    }
    100% {
      width: 100%;
    }
  }
  .listbtn {
    display: none;
  }
  #navPhone {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    z-index: 9999;
  }
  #navPhone i {
    filter: drop-shadow(2px 2px 10px #000);
  }
  #navPhone.active {
    left: unset;
    right: 20px;
  }
}/*# sourceMappingURL=style.css.map */